Repository bennycode/coinbase-pro-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, eslint --ignore-path .gitignore --fix

linting
  src/user/UserAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

linting
  .lintstagedrc.json
  src/user/UserAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

update linter
  .eslintrc.json
  src/test/typings/global.d.ts
Due: eslint --ignore-path .gitignore --fix

Add license
  LICENSE.txt
Due: none

link license
  LICENSE
  README.md
Due: none

Add maintainers
  README.md
Due: none

chore: Add code owners
  .github/CODEOWNERS
Due: none

chore: Define Dependabot PR prefix
  .dependabot/config.yml
Due: none

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.8.0
  package.json
Due: none

Remove @wireapp/commons
  .eslintrc.json
  package.json
  src/CoinbasePro.ts
  src/LogConfiguration.ts
  src/start.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --fix

chore(deps): Add peer dependencies of "ws"
  package.json
  yarn.lock
Due: none

0.8.1
  package.json
Due: none

docs: Explain motivation and advantages
  README.md
  package.json
Due: none

docs: Explain motivation and advantages (#16)
  README.md
  package.json
Due: none

docs: Update heading styles
  README.md
Due: none

0.8.2
  package.json
Due: none

feat: List recent fills
  README.md
  src/fill/FillAPI.ts
  src/start.ts
Due: eslint --ignore-path .gitignore --fix

Fix start script
  src/client/RESTClient.ts
  src/start.ts
Due: eslint --ignore-path .gitignore --fix

remove spaces
  src/fill/FillAPI.ts
  src/order/OrderAPI.ts
  src/product/ProductAPI.ts
Due: eslint --ignore-path .gitignore --fix

REM Big.js
  package.json
  src/auth/RequestSigner.ts
  src/client/RESTClient.ts
  src/order/OrderAPI.test.ts
  src/test/fixtures/rest/fills/product_id/BTC-EUR/GET-200.json
  yarn.lock
Due: eslint --ignore-path .gitignore --fix

Simplify testing
  .eslintrc.json
  src/account/AccountAPI.test.ts
  src/auth/RequestSigner.test.ts
  src/client/RESTClient.test.ts
  src/client/RESTClient.ts
  src/client/WebSocketClient.ts
  src/fill/FillAPI.test.ts
  src/fill/FillAPI.ts
  src/order/OrderAPI.test.ts
  src/product/ProductAPI.test.ts
  src/test/helpers/SetupCoinbasePro.ts
  src/test/typings/global.d.ts
  src/time/TimeAPI.test.ts
  src/time/TimeAPI.ts
  src/user/UserAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

feat: List recent fills (#18)
  .eslintrc.json
  README.md
  package.json
  src/account/AccountAPI.test.ts
  src/auth/RequestSigner.test.ts
  src/auth/RequestSigner.ts
  src/client/RESTClient.test.ts
  src/client/RESTClient.ts
  src/client/WebSocketClient.ts
  src/fill/FillAPI.test.ts
  src/fill/FillAPI.ts
  src/order/OrderAPI.test.ts
  src/order/OrderAPI.ts
  src/product/ProductAPI.test.ts
  src/product/ProductAPI.ts
  src/start.ts
  src/test/fixtures/rest/fills/product_id/BTC-EUR/GET-200.json
  src/test/helpers/SetupCoinbasePro.ts
  src/test/typings/global.d.ts
  src/time/TimeAPI.test.ts
  src/time/TimeAPI.ts
  src/user/UserAPI.test.ts
  yarn.lock
Due: eslint --ignore-path .gitignore --fix

refactor: Share API server time mocking
  src/account/AccountAPI.test.ts
  src/client/RESTClient.test.ts
  src/fill/FillAPI.test.ts
  src/order/OrderAPI.test.ts
  src/product/ProductAPI.test.ts
  src/test/helpers/SetupCoinbasePro.ts
  src/time/TimeAPI.test.ts
  src/user/UserAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

fix floating promise
  .github/workflows/nodejs.yml
  src/order/OrderAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

refactor: Share API server time mocking (#19)
  .github/workflows/nodejs.yml
  src/account/AccountAPI.test.ts
  src/client/RESTClient.test.ts
  src/fill/FillAPI.test.ts
  src/order/OrderAPI.test.ts
  src/product/ProductAPI.test.ts
  src/test/helpers/SetupCoinbasePro.ts
  src/time/TimeAPI.test.ts
  src/user/UserAPI.test.ts
Due: eslint --ignore-path .gitignore --fix

refactor: Use `boolean` parameter to activate Sandbox
  README.md
  src/CoinbasePro.test.ts
  src/CoinbasePro.ts
  src/start.ts
  src/test/helpers/SetupCoinbasePro.ts
Due: eslint --ignore-path .gitignore --fix

refactor: Use boolean parameter to activate Sandbox (#20)
  README.md
  src/CoinbasePro.test.ts
  src/CoinbasePro.ts
  src/start.ts
  src/test/helpers/SetupCoinbasePro.ts
Due: eslint --ignore-path .gitignore --fix

0.9.0
  package.json
Due: none

chore: Disable code owners feature
  .github/CODEOWNERS
Due: none

chore: Allow auto-merging
  .dependabot/config.yml
Due: none

chore: Validate Dependabot config
  .dependabot/config.yml
Due: none

refactor: Migrate nyc JS config to JSON
  nyc.config.coverage.js
  nyc.config.coverage.json
  nyc.config.js
  nyc.config.json
  package.json
Due: eslint . --fix

refactor: Migrate nyc JS config to JSON (#28)
  nyc.config.coverage.js
  nyc.config.coverage.json
  nyc.config.js
  nyc.config.json
  package.json
Due: eslint . --fix

0.9.1
  package.json
Due: none

Path conditions:
  eslint . --fix: any of: *.{js,jsx}
  eslint --ignore-path .gitignore --fix: any of: src/**/*.ts
